.entry {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $sp-sm;

    &-area {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        position: relative;

        &__icon {
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
        }

        .tooltip {
            position: absolute;
            @include font($first-font, $fs-xl, $font-bold, $catalina-blue);
            width: 90%;
            top: 50px;
            left: 0;
            border-radius: $r-lg;
            padding: $sp-xs;
            font-size: $fs-xs;
            color: $catalina-blue;
            display: none;
        }

        #toggle-icon {
            cursor: pointer;
        }
    }
}