.information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: $sp-md;

    &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $sp-xxs;
    }

    &-item {
        @include font($first-font, $fs-sm, $font-medium, $catalina-blue);

        &.-name {
            font-size: $fs-lg;
            font-weight: $font-bold;
        }
    }
}